@tailwind base;
@tailwind components;
@tailwind utilities;

.smooth-scroll {
  scroll-behavior: smooth;
}

:root {
  --rotate-x: 0deg;
  --rotate-y: 0deg;
}

.pictureContainer {
  transition: transform 0.5s ease;
  transform: rotateY(var(--rotate-y)) rotateX(var(--rotate-x));
}
